openapi: 3.0.1
info:
  contact:
    email: support@pureport.com
  description: Pureport API
  title: Pureport Control Plane
  version: 1.0.0
servers:
- url: https://api.pureport.com
paths:
  /accounts:
    get:
      operationId: findAllAccounts
      parameters:
      - explode: true
        in: query
        name: ids
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - explode: true
        in: query
        name: parentId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Account'
                type: array
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: List accounts
      tags:
      - accounts
    post:
      operationId: createAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: default response
          headers:
            Location:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - read
        - write
      summary: Add new account
      tags:
      - accounts
  /accounts/{accountId}:
    delete:
      operationId: deleteAccount
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json: {}
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Delete account
      tags:
      - accounts
    get:
      operationId: getAccount
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Get account details
      tags:
      - accounts
    put:
      operationId: updateAccount
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Update account
      tags:
      - accounts
  /accounts/{accountId}/apikeys:
    get:
      operationId: findApiKeys
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApiKey'
                type: array
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: List API keys for an account
      tags:
      - apikeys
    post:
      operationId: createApiKey
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKey'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: default response
          headers:
            Location:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - read
        - write
      summary: Create a new API key
      tags:
      - apikeys
  /accounts/{accountId}/apikeys/{key}:
    delete:
      operationId: deleteApiKey
      parameters:
      - explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json: {}
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Delete API Key
      tags:
      - apikeys
    get:
      operationId: getApiKey
      parameters:
      - explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Get API Key details
      tags:
      - apikeys
    put:
      operationId: updateApiKey
      parameters:
      - explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKey'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Update API Key
      tags:
      - apikeys
  /accounts/{accountId}/auditLog:
    get:
      operationId: findAuditLogs
      parameters:
      - explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 100
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sortDirection
        required: false
        schema:
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - explode: true
        in: query
        name: startTime
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endTime
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: includeChildAccounts
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: include child object records if specified subject is of type
          NETWORK or CONNECTION
        explode: true
        in: query
        name: includeChildSubjects
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: eventTypes
        required: false
        schema:
          items:
            enum:
            - USER_LOGIN
            - USER_FORGOT_PASSWORD
            - API_LOGIN
            - ACCOUNT_CREATE
            - ACCOUNT_UPDATE
            - ACCOUNT_DELETE
            - ACCOUNT_BILLING_CREATE
            - ACCOUNT_BILLING_UPDATE
            - ACCOUNT_BILLING_DELETE
            - NETWORK_CREATE
            - NETWORK_UPDATE
            - NETWORK_DELETE
            - CONNECTION_CREATE
            - CONNECTION_UPDATE
            - CONNECTION_DELETE
            - GATEWAY_CREATE
            - GATEWAY_UPDATE
            - GATEWAY_DELETE
            - API_KEY_CREATE
            - API_KEY_UPDATE
            - API_KEY_DELETE
            - ROLE_CREATE
            - ROLE_UPDATE
            - ROLE_DELETE
            - USER_CREATE
            - USER_UPDATE
            - USER_DELETE
            - USER_DOMAIN_CREATE
            - USER_DOMAIN_UPDATE
            - USER_DOMAIN_DELETE
            - PORT_CREATE
            - PORT_UPDATE
            - PORT_DELETE
            - MEMBER_INVITE_CREATE
            - MEMBER_INVITE_ACCEPT
            - MEMBER_INVITE_UPDATE
            - MEMBER_INVITE_DELETE
            - ACCOUNT_MEMBER_CREATE
            - ACCOUNT_MEMBER_UPDATE
            - ACCOUNT_MEMBER_DELETE
            - CONNECTION_STATE_CHANGE
            - GATEWAY_STATE_CHANGE
            - GATEWAY_BGP_STATUS_CHANGE
            - GATEWAY_IPSEC_STATUS_CHANGE
            - NOTIFICATION_CREATE
            - NOTIFICATION_UPDATE
            - NOTIFICATION_DELETE
            - TASK_CREATE
            - TASK_UPDATE
            - TASK_DELETE
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: result
        required: false
        schema:
          enum:
          - SUCCESS
          - FAILURE
          type: string
        style: form
      - explode: true
        in: query
        name: principalId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: ipAddress
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: correlationId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: subjectId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: subjectType
        required: false
        schema:
          enum:
          - ACCOUNT
          - CONNECTION
          - NETWORK
          - USER
          - USER_DOMAIN
          - ROLE
          - API_KEY
          - GATEWAY
          - NOTIFICATION
          - ACCOUNT_INVITE
          - ACCOUNT_BILLING
          - PORT
          - ACCOUNT_MEMBER
          - TASK
          type: string
        style: form
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAuditEntry'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      tags:
      - audit
  /accounts/{accountId}/billing:
    delete:
      operationId: deletePaymentInformation
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                type: string
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Delete payment method
      tags:
      - billing
    get:
      operationId: findBillingForAccount
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBilling'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Payment method for account
      tags:
      - billing
    post:
      operationId: addPaymentInformation
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountBilling'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBilling'
          description: default response
          headers:
            Location:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - read
        - write
      summary: Add payment method
      tags:
      - billing
    put:
      operationId: updatePaymentInformation
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountBilling'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBilling'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Update payment method
      tags:
      - billing
  /accounts/{accountId}/billing/configured:
    get:
      operationId: isBillingConfiguredForAccount
      parameters:
      - explode: true
        in: query
        name: ancestorOnly
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                type: boolean
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Payment method configured for account
      tags:
      - billing
  /accounts/{accountId}/connections:
    get:
      operationId: findConnections
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Connection'
                type: array
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: List connections across all networks for the account
      tags:
      - connections
  /accounts/{accountId}/consent:
    get:
      operationId: hasConsent
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        404:
          description: Account MSA and AUP have not been accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountConsent'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Account consent to Master Service Agreement and Acceptable Use Policy
      tags:
      - account consent
    post:
      operationId: consent
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountConsent'
          description: default response
          headers:
            Location:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - read
        - write
      summary: Consent to Master Service Agreement and Acceptable Use Policy for this
        account
      tags:
      - account consent
  /accounts/{accountId}/invites:
    get:
      operationId: findAccountInvites
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AccountInvite'
                type: array
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: List account invites
      tags:
      - account invitations
    post:
      operationId: inviteAccount
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountInvite'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountInvite'
          description: default response
          headers:
            Location:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - read
        - write
      summary: Invite account member
      tags:
      - account invitations
  /accounts/{accountId}/invites/{inviteId}:
    delete:
      operationId: deleteAccountInvite
      parameters:
      - explode: false
        in: path
        name: inviteId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json: {}
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Delete account invite
      tags:
      - account invitations
    get:
      operationId: getAccountInvite
      parameters:
      - explode: false
        in: path
        name: inviteId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountInvite'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Get account invite
      tags:
      - account invitations
    put:
      operationId: updateAccountInvite
      parameters:
      - explode: true
        in: query
        name: reinvite
        required: false
        schema:
          type: boolean
        style: form
      - explode: false
        in: path
        name: inviteId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountInvite'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountInvite'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Update account invite
      tags:
      - account invitations
  /accounts/{accountId}/members:
    get:
      operationId: findAccountMembers
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AccountMember'
                type: array
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: List account members
      tags:
      - account members
    post:
      operationId: addAccountMember
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountMember'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountMember'
          description: default response
          headers:
            Location:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - read
        - write
      summary: Add account member
      tags:
      - account members
  /accounts/{accountId}/members/{userId}:
    delete:
      operationId: deleteAccountMember
      parameters:
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json: {}
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Delete account member
      tags:
      - account members
    get:
      operationId: getAccountMember
      parameters:
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountMember'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Get account member
      tags:
      - account members
    put:
      operationId: updateAccountMember
      parameters:
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountMember'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountMember'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Update account member
      tags:
      - account members
  /accounts/{accountId}/metrics/usageByConnection:
    post:
      operationId: usageByConnection
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UsageByConnectionOptions'
      responses:
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NetworkConnectionEgressIngress'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/NetworkConnectionEgressIngress'
                type: array
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Retrieve usage by connection
      tags:
      - account metrics
  /accounts/{accountId}/metrics/usageByConnectionAndTime:
    post:
      operationId: usageByConnection_1
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UsageByConnectionAndTimeOptions'
      responses:
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ConnectionTimeEgressIngress'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/ConnectionTimeEgressIngress'
                type: array
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Retrieve usage by connection and time
      tags:
      - account metrics
  /accounts/{accountId}/metrics/usageByNetworkAndTime:
    post:
      operationId: usageByNetworkAndTime
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsageByNetworkAndTimeOptions'
      responses:
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NetworkTimeUsage'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/NetworkTimeUsage'
                type: array
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Retrieve usage by network over time
      tags:
      - account metrics
  /accounts/{accountId}/networks:
    get:
      operationId: findNetworks
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Network'
                type: array
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: List networks
      tags:
      - networks
    post:
      operationId: addNetwork
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Network'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Network'
          description: default response
          headers:
            Location:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - read
        - write
      summary: Add new network
      tags:
      - networks
  /accounts/{accountId}/notifications:
    get:
      operationId: findAccountNotifications
      parameters:
      - explode: true
        in: query
        name: startTime
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endTime
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - READ
          - UNREAD
          type: string
        style: form
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AccountNotification'
                type: array
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Retrieve all notifications for this account
      tags:
      - account notifications
    post:
      operationId: updateAccountNotificationsStatus
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          '*/*':
            schema:
              additionalProperties:
                enum:
                - READ
                - UNREAD
                type: string
              type: object
      responses:
        default:
          content:
            application/json: {}
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Update an authenticated user's read status for account notifications
      tags:
      - account notifications
  /accounts/{accountId}/permissions:
    get:
      description: |-
        Returns the effective set of permissions that the current subject has for the given account
                    based on the roles they have been granted.
      operationId: getAccountPermissions
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                additionalProperties:
                  additionalProperties:
                    type: boolean
                  type: object
                type: object
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Get permissions for account
      tags:
      - accounts
  /accounts/{accountId}/ports:
    get:
      operationId: findPorts
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Port'
                type: array
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: List ports
      tags:
      - ports
    post:
      operationId: addPort
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Port'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Port'
          description: default response
          headers:
            Location:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - read
        - write
      summary: Add new port
      tags:
      - ports
  /accounts/{accountId}/roles:
    get:
      operationId: findAllRoles
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Role'
                type: array
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: List account roles
      tags:
      - account roles
    post:
      operationId: createRole
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Role'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: default response
          headers:
            Location:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - read
        - write
      summary: Add account role
      tags:
      - account roles
  /accounts/{accountId}/roles/{roleId}:
    delete:
      operationId: deleteRole
      parameters:
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json: {}
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Delete role
      tags:
      - account roles
    get:
      operationId: getRole
      parameters:
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Get role details
      tags:
      - account roles
    put:
      operationId: updateRole
      parameters:
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Role'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Update role
      tags:
      - account roles
  /accounts/{accountId}/supportedConnections:
    get:
      operationId: getAccountSupportedConnections
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SupportedConnection'
                type: array
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: List supported connections
      tags:
      - supported connections
  /accounts/{accountId}/supportedPorts:
    get:
      operationId: getSupportedPorts
      parameters:
      - explode: true
        in: query
        name: facility
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: includeProvisioned
        required: false
        schema:
          type: boolean
        style: form
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SupportedPort'
                type: array
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: List supported ports
      tags:
      - supported ports
  /cloudRegions:
    get:
      operationId: getCloudRegions
      responses:
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CloudRegion'
                type: array
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: List cloud regions
      tags:
      - cloud regions
  /cloudRegions/{cloudRegionId}:
    get:
      operationId: getCloudRegion
      parameters:
      - explode: false
        in: path
        name: cloudRegionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudRegion'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Get cloud region details
      tags:
      - cloud regions
  /cloudServices:
    get:
      operationId: getCloudServices
      responses:
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CloudService'
                type: array
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: List cloud services
      tags:
      - cloud services
  /cloudServices/{cloudServiceId}:
    get:
      operationId: getCloudService
      parameters:
      - explode: false
        in: path
        name: cloudServiceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudService'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Get cloud service details
      tags:
      - cloud services
  /connections/{connectionId}:
    delete:
      operationId: deleteConnection
      parameters:
      - explode: false
        in: path
        name: connectionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Delete connection
      tags:
      - connections
    get:
      operationId: getConnection
      parameters:
      - explode: false
        in: path
        name: connectionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Get connection details
      tags:
      - connections
    put:
      operationId: updateConnection
      parameters:
      - explode: false
        in: path
        name: connectionId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Connection'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Update connection
      tags:
      - connections
  /connections/{connectionId}/tasks:
    get:
      operationId: getConnectionTasks
      parameters:
      - explode: false
        in: path
        name: connectionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Task'
                type: array
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: List connection tasks
      tags:
      - tasks
      - connections
    post:
      operationId: createConnectionTask
      parameters:
      - explode: false
        in: path
        name: connectionId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Task'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: default response
          headers:
            Location:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - read
        - write
      summary: Add a new task
      tags:
      - tasks
      - connections
  /facilities:
    get:
      operationId: findFacilities
      responses:
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Facility'
                type: array
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: List facilities
      tags:
      - facilities
  /facilities/kml:
    get:
      operationId: listFacilitiesAsKml
      responses:
        default:
          content:
            application/vnd.google-earth.kml+xml:
              schema:
                type: string
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: List facilities (as KML)
      tags:
      - facilities
  /facilities/{facilityId}:
    get:
      operationId: getFacility
      parameters:
      - explode: false
        in: path
        name: facilityId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Facility'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Get facility details
      tags:
      - facilities
  /gateways/{gatewayId}:
    get:
      operationId: getGateway
      parameters:
      - explode: false
        in: path
        name: gatewayId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gateway'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Get gateway details
      tags:
      - gateways
  /gateways/{gatewayId}/bgpRoutes:
    get:
      operationId: getGatewayBGPRoutes
      parameters:
      - explode: false
        in: path
        name: gatewayId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BGPRoute'
                type: array
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Get gateway bgp routes
      tags:
      - gateways
  /gateways/{gatewayId}/ipRoutes:
    get:
      operationId: getGatewayIPRoutes
      parameters:
      - explode: false
        in: path
        name: gatewayId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/IPRoute'
                type: array
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Get gateway ip routes
      tags:
      - gateways
  /gateways/{gatewayId}/metrics/connectivity:
    post:
      operationId: connectivityOverTime
      parameters:
      - explode: false
        in: path
        name: gatewayId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DateFilter'
      responses:
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ConnectivityByGateway'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/ConnectivityByGateway'
                type: array
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Retrieve connectivity details over time for gateway
      tags:
      - gateway metrics
      - gateways
  /gateways/{gatewayId}/metrics/connectivity/current:
    get:
      operationId: currentConnectivity
      parameters:
      - explode: false
        in: path
        name: gatewayId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ConnectivityByGateway'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/ConnectivityByGateway'
                type: array
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Retrieve latest connectivity details for gateway
      tags:
      - gateway metrics
      - gateways
  /gateways/{gatewayId}/respawn:
    post:
      operationId: respawnGateway
      parameters:
      - explode: false
        in: path
        name: gatewayId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gateway'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Respawn gateway
      tags:
      - gateways
  /gateways/{gatewayId}/start:
    post:
      operationId: startGateway
      parameters:
      - explode: false
        in: path
        name: gatewayId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gateway'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Start gateway
      tags:
      - gateways
  /gateways/{gatewayId}/stop:
    post:
      operationId: stopGateway
      parameters:
      - explode: false
        in: path
        name: gatewayId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gateway'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Stop gateway
      tags:
      - gateways
  /gateways/{gatewayId}/tasks:
    get:
      operationId: getGatewayTasks
      parameters:
      - explode: false
        in: path
        name: gatewayId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Task'
                type: array
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: List connection tasks
      tags:
      - tasks
      - gateways
    post:
      operationId: createGatewayTask
      parameters:
      - explode: false
        in: path
        name: gatewayId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Task'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: default response
          headers:
            Location:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - read
        - write
      summary: Add a new task
      tags:
      - tasks
      - gateways
  /help:
    get:
      operationId: getHelpUrl
      parameters:
      - explode: true
        in: query
        name: redirectTo
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            text/plain:
              schema:
                type: string
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Retrieve the URL for the help portal using an SSO login
      tags:
      - help
  /invites:
    post:
      operationId: acceptAllInvites
      responses:
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AccountInvite'
                type: array
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Accept all invites for the current user
      tags:
      - account invitations
  /locations:
    get:
      operationId: findLocations
      responses:
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Location'
                type: array
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: List locations
      tags:
      - locations
  /locations/{locationId}:
    get:
      operationId: getLocation
      parameters:
      - explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Get location details
      tags:
      - locations
  /login:
    post:
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Login with an API Key
      tags:
      - auth
  /login/refresh:
    post:
      operationId: loginWithRefreshToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginWithRefreshTokenRequest'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Login with a refresh token
      tags:
      - auth
  /networks/{networkId}:
    delete:
      operationId: deleteNetwork
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json: {}
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Delete network
      tags:
      - networks
    get:
      operationId: getNetwork
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Network'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Get network details
      tags:
      - networks
    put:
      operationId: updateNetwork
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Network'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Network'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Update network
      tags:
      - networks
  /networks/{networkId}/connections:
    get:
      operationId: getConnections
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Connection'
                type: array
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: List network connections
      tags:
      - connections
    post:
      operationId: addConnection
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Connection'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
          description: default response
          headers:
            Location:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - OAuth2:
        - read
        - write
      summary: Add new connection
      tags:
      - connections
  /networks/{networkId}/respawn:
    post:
      operationId: respawn
      parameters:
      - explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Network'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Respawn controllers on network
      tags:
      - networks
  /options:
    get:
      operationId: getOptions
      parameters:
      - explode: true
        in: query
        name: type
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        default:
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    $ref: '#/components/schemas/Option'
                  type: array
                type: object
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Get available options
      tags:
      - options
  /options/isBackbone:
    get:
      operationId: isBackbone
      parameters:
      - explode: true
        in: query
        name: portId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: locationId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: speed
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: billingTerm
        required: false
        schema:
          default: HOURLY
          enum:
          - HOURLY
          - MONTHLY
          - ONE_YEAR
          - TWO_YEAR
          type: string
        style: form
      responses:
        default:
          content:
            application/json:
              schema:
                additionalProperties:
                  type: boolean
                type: object
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Get whether this configuration will have longHaul related charges.
      tags:
      - options
  /ports/{portId}:
    delete:
      operationId: deletePort
      parameters:
      - explode: false
        in: path
        name: portId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json: {}
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Delete port
      tags:
      - ports
    get:
      operationId: getPort
      parameters:
      - explode: false
        in: path
        name: portId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Port'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Get port details
      tags:
      - ports
    put:
      operationId: updatePort
      parameters:
      - explode: false
        in: path
        name: portId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Port'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Port'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Update port
      tags:
      - ports
  /ports/{portId}/accounts:
    get:
      operationId: getAccountsUsingPort
      parameters:
      - explode: false
        in: path
        name: portId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Link'
                type: array
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Get accounts using this port
      tags:
      - ports
  /ports/{portId}/loa:
    get:
      operationId: getPortLOA
      parameters:
      - explode: false
        in: path
        name: portId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                type: string
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Get port letter of authorization
      tags:
      - ports
  /supportedConnections/{supportedConnectionId}:
    get:
      operationId: getSupportedConnection
      parameters:
      - explode: false
        in: path
        name: supportedConnectionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportedConnection'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Get supported connection details
      tags:
      - supported connections
  /tasks:
    get:
      operationId: getTasks
      parameters:
      - explode: true
        in: query
        name: state
        required: false
        schema:
          enum:
          - CREATED
          - RUNNING
          - COMPLETED
          - FAILED
          - DELETED
          - AGGREGATE
          type: string
        style: form
      responses:
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Task'
                type: array
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: List Tasks
      tags:
      - tasks
  /tasks/{taskId}:
    get:
      operationId: getTask
      parameters:
      - explode: false
        in: path
        name: taskId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Get Task details
      tags:
      - tasks
  /thirdParty/packetFabric/customers/{marketCode}:
    get:
      operationId: getPacketFabric
      parameters:
      - explode: false
        in: path
        name: marketCode
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PacketFabricCustomer'
                type: array
          description: default response
      security:
      - OAuth2:
        - read
        - write
      tags:
      - third party
  /userDomainProvider:
    get:
      operationId: getUserDomain_1
      parameters:
      - explode: true
        in: query
        name: emailAddress
        required: true
        schema:
          type: string
        style: form
      responses:
        400:
          description: An invalid email address was provided
        404:
          description: Could not find a valid user domain provider
        default:
          content:
            application/json:
              schema:
                type: string
            text/plain:
              schema:
                type: string
          description: default response
      summary: Find a user domain provider given an email address
      tags:
      - user domains
  /users/{userId}:
    get:
      operationId: getUser
      parameters:
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Get user details
      tags:
      - users
    put:
      operationId: updateUser
      parameters:
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/User'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: default response
      security:
      - OAuth2:
        - read
        - write
      summary: Update user
      tags:
      - users
components:
  schemas:
    AWSDirectConnectConnection:
      allOf:
      - $ref: '#/components/schemas/Connection'
      - $ref: '#/components/schemas/AWSDirectConnectConnection_allOf'
      required:
      - awsAccountId
      - billingTerm
      - highAvailability
      - location
      - name
      - speed
      - type
      type: object
    AccessSwitch:
      properties:
        availabilityDomain:
          enum:
          - PRIMARY
          - SECONDARY
          type: string
        href:
          readOnly: true
          type: string
        id:
          maxLength: 64
          minLength: 1
          type: string
        pod:
          $ref: '#/components/schemas/Link'
        status:
          enum:
          - AVAILABLE
          - UNAVAILABLE
          type: string
      required:
      - availabilityDomain
      - id
      - pod
      - status
      type: object
    AccessSwitchPort:
      properties:
        accessSwitch:
          $ref: '#/components/schemas/Link'
        connectorType:
          enum:
          - SC
          - LC
          type: string
        href:
          readOnly: true
          type: string
        id:
          maxLength: 64
          minLength: 1
          type: string
        mediaType:
          type: string
        name:
          type: string
        patchPanelId:
          type: string
        patchPanelPortNumbers:
          items:
            format: int32
            type: integer
          type: array
          uniqueItems: true
        speed:
          enum:
          - 1000
          - 10000
          - 40000
          format: int32
          type: integer
      required:
      - accessSwitch
      - connectorType
      - id
      - mediaType
      - name
      - patchPanelId
      - patchPanelPortNumbers
      - speed
      type: object
    Account:
      example:
        parent:
          href: href
          id: id
          title: title
        showChildAccountPricing: true
        hasChildren: true
        verified: true
        description: description
        technicalContactEmails:
        - technicalContactEmails
        - technicalContactEmails
        - technicalContactEmails
        - technicalContactEmails
        - technicalContactEmails
        demo: true
        tags:
          key: tags
        name: name
        pricingHidden: true
        href: href
        id: id
        supportedConnectionGroups:
        - href: href
          id: id
          title: title
        - href: href
          id: id
          title: title
      properties:
        demo:
          type: boolean
        description:
          maxLength: 256
          minLength: 0
          type: string
        hasChildren:
          readOnly: true
          type: boolean
        href:
          readOnly: true
          type: string
        id:
          maxLength: 64
          minLength: 1
          type: string
        name:
          maxLength: 64
          minLength: 1
          type: string
        parent:
          $ref: '#/components/schemas/Link'
        pricingHidden:
          readOnly: true
          type: boolean
        showChildAccountPricing:
          type: boolean
        supportedConnectionGroups:
          items:
            $ref: '#/components/schemas/Link'
          type: array
          uniqueItems: true
        tags:
          additionalProperties:
            type: string
          type: object
        technicalContactEmails:
          items:
            type: string
          maxItems: 10
          minItems: 0
          type: array
          uniqueItems: true
        verified:
          type: boolean
      required:
      - name
      type: object
    AccountBilling:
      example:
        collectionMethod: CREDIT_CARD
        address:
          country: country
          city: city
          street: street
          postalCode: postalCode
          placeId: placeId
          geoCoordinates:
            latitude: 0.8008281904610115
            longitude: 6.027456183070403
          state: state
        stripeToken: stripeToken
        name: name
        href: href
        stripeExpiry: stripeExpiry
        stripeLastFour: stripeLastFour
        account:
          href: href
          id: id
          title: title
        email: email
      properties:
        account:
          $ref: '#/components/schemas/Link'
        address:
          $ref: '#/components/schemas/PhysicalAddress'
        collectionMethod:
          enum:
          - CREDIT_CARD
          - NET_30
          type: string
        email:
          type: string
        href:
          readOnly: true
          type: string
        name:
          maxLength: 64
          minLength: 1
          type: string
        stripeExpiry:
          pattern: ^\d{2}\/\d{4}$
          type: string
        stripeLastFour:
          pattern: ^\d{4}$
          type: string
        stripeToken:
          maxLength: 64
          minLength: 1
          type: string
      required:
      - account
      - address
      - collectionMethod
      - email
      - name
      type: object
    AccountConsent:
      example:
        consentAt: 2000-01-23T04:56:07.000+00:00
        href: href
        userId: userId
      properties:
        consentAt:
          format: date-time
          readOnly: true
          type: string
        href:
          type: string
        userId:
          readOnly: true
          type: string
      type: object
    AccountDetailedInvoice:
      properties:
        account:
          $ref: '#/components/schemas/Link'
        invoiceId:
          readOnly: true
          type: string
        items:
          items:
            $ref: '#/components/schemas/DetailedInvoiceItem'
          readOnly: true
          type: array
      type: object
    AccountInvite:
      example:
        expired: true
        invitedBy:
          href: href
          id: id
          title: title
        roles:
        - href: href
          id: id
          title: title
        - href: href
          id: id
          title: title
        href: href
        id: id
        account:
          href: href
          id: id
          title: title
        email: email
        invitedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        account:
          $ref: '#/components/schemas/Link'
        email:
          type: string
        expired:
          readOnly: true
          type: boolean
        href:
          readOnly: true
          type: string
        id:
          maxLength: 64
          minLength: 1
          type: string
        invitedAt:
          format: date-time
          type: string
        invitedBy:
          $ref: '#/components/schemas/Link'
        roles:
          items:
            $ref: '#/components/schemas/Link'
          type: array
      required:
      - account
      - email
      - roles
      type: object
    AccountInvoice:
      properties:
        account:
          $ref: '#/components/schemas/Link'
        invoice:
          description: The Stripe Invoice object (https://stripe.com/docs/api/invoices/object)
          readOnly: true
          type: object
      type: object
    AccountMember:
      example:
        roles:
        - href: href
          id: id
          title: title
        - href: href
          id: id
          title: title
        href: href
        user:
          href: href
          id: id
          title: title
        account:
          href: href
          id: id
          title: title
      properties:
        account:
          $ref: '#/components/schemas/Link'
        href:
          readOnly: true
          type: string
        roles:
          items:
            $ref: '#/components/schemas/Link'
          type: array
        user:
          $ref: '#/components/schemas/Link'
      required:
      - account
      - roles
      - user
      type: object
    AccountNotification:
      example:
        notification:
          availabilityDomain: PRIMARY
          impactedServices:
          - PUREPORT_CONSOLE
          - PUREPORT_CONSOLE
          - PUREPORT_CONSOLE
          - PUREPORT_CONSOLE
          - PUREPORT_CONSOLE
          start: 2000-01-23T04:56:07.000+00:00
          description: description
          type: INCIDENT
          createdAt: 2000-01-23T04:56:07.000+00:00
          end: 2000-01-23T04:56:07.000+00:00
          locations:
          - href: href
            id: id
            title: title
          - href: href
            id: id
            title: title
          href: href
          id: id
          state: DRAFT
          connectionTypes:
          - AWS_DIRECT_CONNECT
          - AWS_DIRECT_CONNECT
          updatedAt: 2000-01-23T04:56:07.000+00:00
        connections:
        - href: href
          id: id
          title: title
        - href: href
          id: id
          title: title
      properties:
        connections:
          items:
            $ref: '#/components/schemas/Link'
          readOnly: true
          type: array
          uniqueItems: true
        notification:
          $ref: '#/components/schemas/Notification'
      type: object
    ApiKey:
      example:
        roles:
        - href: href
          id: id
          title: title
        - href: href
          id: id
          title: title
        - href: href
          id: id
          title: title
        - href: href
          id: id
          title: title
        - href: href
          id: id
          title: title
        name: name
        description: description
        href: href
        secret: secret
        account:
          href: href
          id: id
          title: title
        key: key
      properties:
        account:
          $ref: '#/components/schemas/Link'
        description:
          maxLength: 1024
          minLength: 0
          type: string
        href:
          readOnly: true
          type: string
        key:
          readOnly: true
          type: string
        name:
          maxLength: 255
          minLength: 1
          type: string
        roles:
          items:
            $ref: '#/components/schemas/Link'
          maxItems: 100
          minItems: 1
          type: array
          uniqueItems: true
        secret:
          readOnly: true
          type: string
      required:
      - name
      - roles
      type: object
    AuditEntry:
      example:
        request:
          method: method
          queryParameters:
            key:
            - queryParameters
            - queryParameters
          body: body
          url: url
        subject:
          href: href
          id: id
          title: title
        changes:
        - current: '{}'
          previous: '{}'
          property: property
        - current: '{}'
          previous: '{}'
          property: property
        ipAddress: ipAddress
        userAgent: userAgent
        eventType: USER_LOGIN
        source: API
        subjectType: ACCOUNT
        principal:
          href: href
          id: id
          title: title
        result: SUCCESS
        response:
          executionTime: 0
          statusCodeFamily: INFORMATIONAL
          body: body
          statusCode: 6
        correlationId: correlationId
        account:
          href: href
          id: id
          title: title
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        account:
          $ref: '#/components/schemas/Link'
        changes:
          items:
            $ref: '#/components/schemas/ChangeObject'
          readOnly: true
          type: array
          uniqueItems: true
        correlationId:
          readOnly: true
          type: string
        eventType:
          enum:
          - USER_LOGIN
          - USER_FORGOT_PASSWORD
          - API_LOGIN
          - ACCOUNT_CREATE
          - ACCOUNT_UPDATE
          - ACCOUNT_DELETE
          - ACCOUNT_BILLING_CREATE
          - ACCOUNT_BILLING_UPDATE
          - ACCOUNT_BILLING_DELETE
          - NETWORK_CREATE
          - NETWORK_UPDATE
          - NETWORK_DELETE
          - CONNECTION_CREATE
          - CONNECTION_UPDATE
          - CONNECTION_DELETE
          - GATEWAY_CREATE
          - GATEWAY_UPDATE
          - GATEWAY_DELETE
          - API_KEY_CREATE
          - API_KEY_UPDATE
          - API_KEY_DELETE
          - ROLE_CREATE
          - ROLE_UPDATE
          - ROLE_DELETE
          - USER_CREATE
          - USER_UPDATE
          - USER_DELETE
          - USER_DOMAIN_CREATE
          - USER_DOMAIN_UPDATE
          - USER_DOMAIN_DELETE
          - PORT_CREATE
          - PORT_UPDATE
          - PORT_DELETE
          - MEMBER_INVITE_CREATE
          - MEMBER_INVITE_ACCEPT
          - MEMBER_INVITE_UPDATE
          - MEMBER_INVITE_DELETE
          - ACCOUNT_MEMBER_CREATE
          - ACCOUNT_MEMBER_UPDATE
          - ACCOUNT_MEMBER_DELETE
          - CONNECTION_STATE_CHANGE
          - GATEWAY_STATE_CHANGE
          - GATEWAY_BGP_STATUS_CHANGE
          - GATEWAY_IPSEC_STATUS_CHANGE
          - NOTIFICATION_CREATE
          - NOTIFICATION_UPDATE
          - NOTIFICATION_DELETE
          - TASK_CREATE
          - TASK_UPDATE
          - TASK_DELETE
          readOnly: true
          type: string
        ipAddress:
          readOnly: true
          type: string
        principal:
          $ref: '#/components/schemas/Link'
        request:
          $ref: '#/components/schemas/AuditEntryRequest'
        response:
          $ref: '#/components/schemas/AuditEntryResponse'
        result:
          enum:
          - SUCCESS
          - FAILURE
          readOnly: true
          type: string
        source:
          enum:
          - API
          - CONSOLE
          - SYSTEM
          readOnly: true
          type: string
        subject:
          $ref: '#/components/schemas/Link'
        subjectType:
          enum:
          - ACCOUNT
          - CONNECTION
          - NETWORK
          - USER
          - USER_DOMAIN
          - ROLE
          - API_KEY
          - GATEWAY
          - NOTIFICATION
          - ACCOUNT_INVITE
          - ACCOUNT_BILLING
          - PORT
          - ACCOUNT_MEMBER
          - TASK
          readOnly: true
          type: string
        timestamp:
          format: date-time
          readOnly: true
          type: string
        userAgent:
          readOnly: true
          type: string
      type: object
    AuditEntryRequest:
      example:
        method: method
        queryParameters:
          key:
          - queryParameters
          - queryParameters
        body: body
        url: url
      properties:
        body:
          type: string
        method:
          type: string
        queryParameters:
          additionalProperties:
            items:
              type: string
            type: array
          type: object
        url:
          type: string
      type: object
    AuditEntryResponse:
      example:
        executionTime: 0
        statusCodeFamily: INFORMATIONAL
        body: body
        statusCode: 6
      properties:
        body:
          type: string
        executionTime:
          description: Execution time in milliseconds
          format: int64
          type: integer
        statusCode:
          format: int32
          type: integer
        statusCodeFamily:
          enum:
          - INFORMATIONAL
          - SUCCESSFUL
          - REDIRECTION
          - CLIENT_ERROR
          - SERVER_ERROR
          - OTHER
          type: string
      type: object
    AzureExpressRouteConnection:
      allOf:
      - $ref: '#/components/schemas/Connection'
      - $ref: '#/components/schemas/AzureExpressRouteConnection_allOf'
      required:
      - billingTerm
      - highAvailability
      - location
      - name
      - serviceKey
      - speed
      - type
      type: object
    BGPConfig:
      example:
        peeringSubnet: peeringSubnet
        password: password
        customerIP: customerIP
        pureportIP: pureportIP
        publicNatIp: publicNatIp
        state: UP
        pureportASN: 5
        customerASN: 5
      properties:
        customerASN:
          format: int64
          readOnly: true
          type: integer
        customerIP:
          readOnly: true
          type: string
        password:
          readOnly: true
          type: string
        peeringSubnet:
          readOnly: true
          type: string
        publicNatIp:
          readOnly: true
          type: string
        pureportASN:
          format: int64
          readOnly: true
          type: integer
        pureportIP:
          readOnly: true
          type: string
        state:
          enum:
          - UP
          - DOWN
          - PENDING
          readOnly: true
          type: string
      type: object
    BGPPasswordConfiguration:
      properties:
        enabled:
          type: boolean
        primaryBGPPassword:
          type: string
        secondaryBGPPassword:
          type: string
      type: object
    BGPRoute:
      example:
        nextHop: nextHop
        nextHopGateway:
          href: href
          id: id
          title: title
        internal: true
        locPref: 0
        origin: origin
        weight: 5
        best: true
        network: network
        valid: true
        path:
        - 1
        - 1
        multiPath: true
        metric: 6
        nextHopConnection:
          href: href
          id: id
          title: title
      properties:
        best:
          readOnly: true
          type: boolean
        internal:
          readOnly: true
          type: boolean
        locPref:
          format: int32
          readOnly: true
          type: integer
        metric:
          format: int32
          readOnly: true
          type: integer
        multiPath:
          readOnly: true
          type: boolean
        network:
          readOnly: true
          type: string
        nextHop:
          readOnly: true
          type: string
        nextHopConnection:
          $ref: '#/components/schemas/Link'
        nextHopGateway:
          $ref: '#/components/schemas/Link'
        origin:
          readOnly: true
          type: string
        path:
          items:
            format: int32
            type: integer
          readOnly: true
          type: array
        valid:
          readOnly: true
          type: boolean
        weight:
          format: int32
          readOnly: true
          type: integer
      type: object
    BillingPlan:
      example:
        amount: 0.8008281904610115
        billingLongHaul: NOT_APPLICABLE
        term: HOURLY
        id: id
        billingInterval: ONCE
        setupAmount: 6.027456183070403
      properties:
        amount:
          type: number
        billingInterval:
          enum:
          - ONCE
          - DAY
          - WEEK
          - MONTH
          - YEAR
          type: string
        billingLongHaul:
          enum:
          - NOT_APPLICABLE
          - METRO
          - USAGE
          - DEDICATED
          type: string
        id:
          type: string
        setupAmount:
          type: number
        term:
          enum:
          - HOURLY
          - MONTHLY
          - ONE_YEAR
          - TWO_YEAR
          type: string
      required:
      - billingInterval
      - term
      type: object
    ChangeObject:
      example:
        current: '{}'
        previous: '{}'
        property: property
      properties:
        current:
          type: object
        previous:
          type: object
        property:
          type: string
      type: object
    ClosedRangeInstant:
      properties:
        empty:
          type: boolean
        endInclusive:
          format: date-time
          type: string
        start:
          format: date-time
          type: string
      type: object
    CloudRegion:
      example:
        provider: AWS
        displayName: displayName
        geoCoordinates:
          latitude: 0.8008281904610115
          longitude: 6.027456183070403
        href: href
        id: id
        providerAssignedId: providerAssignedId
      properties:
        displayName:
          type: string
        geoCoordinates:
          $ref: '#/components/schemas/GeoCoordinates'
        href:
          readOnly: true
          type: string
        id:
          maxLength: 64
          minLength: 1
          type: string
        provider:
          enum:
          - AWS
          - AZURE
          - GOOGLE_CLOUD
          - ORACLE
          - PACKET_FABRIC
          type: string
        providerAssignedId:
          type: string
      required:
      - displayName
      - provider
      - providerAssignedId
      type: object
    CloudService:
      example:
        ipv4PrefixCount: 0
        provider: AWS
        ipv6PrefixCount: 6
        service: service
        cloudRegion:
          href: href
          id: id
          title: title
        name: name
        deactivatedAt: 2000-01-23T04:56:07.000+00:00
        href: href
        id: id
        ipPrefixes:
        - ipPrefixes
        - ipPrefixes
        deactivated: true
      properties:
        cloudRegion:
          $ref: '#/components/schemas/Link'
        deactivated:
          readOnly: true
          type: boolean
        deactivatedAt:
          format: date-time
          readOnly: true
          type: string
        href:
          readOnly: true
          type: string
        id:
          maxLength: 64
          minLength: 1
          type: string
        ipPrefixes:
          items:
            type: string
          readOnly: true
          type: array
          uniqueItems: true
        ipv4PrefixCount:
          format: int32
          readOnly: true
          type: integer
        ipv6PrefixCount:
          format: int32
          readOnly: true
          type: integer
        name:
          type: string
        provider:
          enum:
          - AWS
          - AZURE
          - GOOGLE_CLOUD
          - ORACLE
          - PACKET_FABRIC
          type: string
        service:
          type: string
      required:
      - cloudRegion
      - deactivated
      - name
      - provider
      - service
      type: object
    Connection:
      discriminator:
        mapping:
          AWS_DIRECT_CONNECT: '#/components/schemas/AWSDirectConnectConnection'
          AZURE_EXPRESS_ROUTE: '#/components/schemas/AzureExpressRouteConnection'
          COMCAST: '#/components/schemas/GenericConnection'
          COX_COMMUNICATIONS: '#/components/schemas/GenericConnection'
          ELEMENT_CRITICAL: '#/components/schemas/GenericConnection'
          EQUINIX_CLOUD_EXCHANGE: '#/components/schemas/EquinixCloudExchangeConnection'
          GOOGLE_CLOUD_INTERCONNECT: '#/components/schemas/GoogleCloudInterconnectConnection'
          ORACLE_FAST_CONNECT: '#/components/schemas/OracleFastConnectConnection'
          PACKET: '#/components/schemas/GenericConnection'
          PACKET_FABRIC: '#/components/schemas/PacketFabricConnection'
          PORT: '#/components/schemas/PortConnection'
          SITE_IPSEC_VPN: '#/components/schemas/SiteIPSecVPNConnection'
          ZAYO: '#/components/schemas/GenericConnection'
        propertyName: type
      example:
        billingTerm: HOURLY
        description: description
        errorCode: BAD_REQUEST
        type: AWS_DIRECT_CONNECT
        speed: 2
        highAvailability: true
        network:
          href: href
          id: id
          title: title
        createdAt: 2000-01-23T04:56:07.000+00:00
        activeAt: 2000-01-23T04:56:07.000+00:00
        advertiseInternalRoutes: true
        href: href
        id: id
        state: INITIALIZING
        billingProvider: STRIPE
        customerASN: 1
        nat:
          mappings:
          - natCidr: natCidr
            nativeCidr: nativeCidr
            block: block
          - natCidr: natCidr
            nativeCidr: nativeCidr
            block: block
          - natCidr: natCidr
            nativeCidr: nativeCidr
            block: block
          - natCidr: natCidr
            nativeCidr: nativeCidr
            block: block
          - natCidr: natCidr
            nativeCidr: nativeCidr
            block: block
          blocks:
          - blocks
          - blocks
          pnatCidr: pnatCidr
          enabled: true
        errorMessage: errorMessage
        customerNetworks:
        - address: address
          name: name
        - address: address
          name: name
        primaryGateway:
          availabilityDomain: PRIMARY
          bgpConfig:
            peeringSubnet: peeringSubnet
            password: password
            customerIP: customerIP
            pureportIP: pureportIP
            publicNatIp: publicNatIp
            state: UP
            pureportASN: 5
            customerASN: 5
          pureportInternalGatewayIP: pureportInternalGatewayIP
          errorMessage: errorMessage
          description: description
          errorCode: BAD_REQUEST
          type: STANDARD
          version: version
          remoteId: remoteId
          linkState: UP
          name: name
          connection:
            href: href
            id: id
            title: title
          href: href
          id: id
          state: WAITING_TO_PROVISION
        tags:
          key: tags
        deletedAt: 2000-01-23T04:56:07.000+00:00
        secondaryGateway:
          availabilityDomain: PRIMARY
          bgpConfig:
            peeringSubnet: peeringSubnet
            password: password
            customerIP: customerIP
            pureportIP: pureportIP
            publicNatIp: publicNatIp
            state: UP
            pureportASN: 5
            customerASN: 5
          pureportInternalGatewayIP: pureportInternalGatewayIP
          errorMessage: errorMessage
          description: description
          errorCode: BAD_REQUEST
          type: STANDARD
          version: version
          remoteId: remoteId
          linkState: UP
          name: name
          connection:
            href: href
            id: id
            title: title
          href: href
          id: id
          state: WAITING_TO_PROVISION
        name: name
        billingPlan:
          amount: 0.8008281904610115
          billingLongHaul: NOT_APPLICABLE
          term: HOURLY
          id: id
          billingInterval: ONCE
          setupAmount: 6.027456183070403
        location:
          href: href
          id: id
          title: title
      properties:
        activeAt:
          format: date-time
          readOnly: true
          type: string
        advertiseInternalRoutes:
          type: boolean
        billingPlan:
          $ref: '#/components/schemas/BillingPlan'
        billingProvider:
          enum:
          - STRIPE
          type: string
        billingTerm:
          enum:
          - HOURLY
          - MONTHLY
          - ONE_YEAR
          - TWO_YEAR
          type: string
        createdAt:
          format: date-time
          readOnly: true
          type: string
        customerASN:
          format: int64
          type: integer
        customerNetworks:
          items:
            $ref: '#/components/schemas/CustomerNetwork'
          type: array
          uniqueItems: true
        deletedAt:
          format: date-time
          readOnly: true
          type: string
        description:
          maxLength: 1024
          minLength: 0
          type: string
        errorCode:
          enum:
          - BAD_REQUEST
          - RESOURCE_LIMITATION_EXCEEDED
          - JSON_PROCESSING_ERROR
          - UNAUTHORIZED
          - ACCESS_TOKEN_GENERAL
          - ACCESS_TOKEN_MISSING
          - ACCESS_TOKEN_EXPIRED
          - ACCESS_TOKEN_ALGORITHM_MISMATCH
          - ACCESS_TOKEN_INVALID_SIGNATURE
          - ACCESS_TOKEN_DECODE_ERROR
          - API_KEY_NOT_FOUND
          - PAYMENT_REQUIRED
          - FORBIDDEN
          - NOT_FOUND
          - METHOD_NOT_ALLOWED
          - REQUEST_TIMEOUT
          - CONFLICT
          - AWS_CONNECTION_HAS_ACTIVE_VIFS
          - EXPRESS_ROUTE_SERVICE_KEY_ALREADY_IN_USE
          - ORACLE_OCID_ALREADY_IN_USE
          - ADMIN_ACCESS_MUST_EXIST
          - CONNECTION_UPDATE_STATE_CONFLICT
          - CONNECTION_RESPAWN_STATE_CONFLICT
          - CONNECTION_DELETE_STATE_CONFLICT
          - NETWORK_DELETE_NON_DELETED_CONNECTION_STATE_CONFLICT
          - ACCOUNT_DELETE_NON_DELETED_PORT_STATE_CONFLICT
          - NETWORK_RESPAWN_STATE_CONFLICT
          - GATEWAY_RESPAWN_STATE_CONFLICT
          - GATEWAY_STOP_STATE_CONFLICT
          - GATEWAY_START_STATE_CONFLICT
          - PORT_DELETE_NON_DELETED_CONNECTION_STATE_CONFLICT
          - PORT_CHILD_ACCOUNT_FLAG_IN_USE
          - CONSENT_REQUIRED
          - ACCOUNT_ALREADY_CONSENTED
          - ACCOUNT_MEMBER_ALREADY_EXISTS
          - ACCOUNT_HAS_CHILD_ACCOUNTS
          - PORT_BILLING_TERM_INTERVAL_NOT_ELAPSED
          - ACCESS_SWITCH_PORT_DELETE_STATE_CONFLICT
          - REQUEST_ENTITY_TOO_LARGE
          - REQUEST_URI_TOO_LONG
          - UNSUPPORTED_MEDIA_TYPE
          - UNPROCESSABLE_ENTITY
          - VALIDATION_ERROR
          - INVALID_LINK
          - INVALID_SORT
          - INVALID_AWS_REGION
          - INVALID_EXPRESS_ROUTE_SERVICE_KEY
          - INVALID_GOOGLE_PAIRING_KEY
          - INVALID_ORACLE_OCID
          - INVALID_WHITELIST_PREFIXES
          - EXPRESS_ROUTE_SERVICE_KEY_BANDWIDTH_MISMATCH
          - ORACLE_OCID_BANDWIDTH_MISMATCH
          - MISSING_GCI_CLOUD_ROUTER_IP_ADDRESS
          - NO_SUPPORTED_CONNECTION_FOR_CONNECTION
          - SUPPORTED_CONNECTION_IS_PENDING
          - NO_SUPPORTED_PORT_FOR_PORT
          - UNSUPPORTED_RESOURCE_LIMIT
          - NETWORK_NAME_UNIQUE
          - BILLING_CONFIGURATION_NOT_PERMITTED
          - ACCOUNT_VERIFICATION_REQUIRED
          - MODIFICATION_NOT_ALLOWED
          - AWS_CONNECTION_SPEED_IMMUTABLE
          - INVALID_VLAN
          - INVALID_VLAN_RANGE
          - INVALID_VLAN_FOR_CONNECTION
          - UNSUPPORTED_TASK_FOR_RESOURCE
          - UNSUPPORTED_TASK_NAME
          - VLAN_IN_USE
          - SECONDARY_PORT_NOT_IN_SAME_FACILITY_AS_PRIMARY_PORT
          - CONNECTION_APPROVAL_NOT_REQUIRED
          - INVALID_CUSTOMER_ASN
          - INVALID_NAT_OVERLAPPING_NATIVE_CIDRS
          - INVALID_PUBLIC_PEERING_OVERLAPPING_BLOCK
          - CANT_REMOVE_PUBLIC_PEERING_ALLOCATED_BLOCKS
          - NOTIFICATION_STATE_IS_INVALID
          - NOTIFICATION_STATE_CHANGE_IS_INVALID
          - PEERING_TYPE_CHANGE_NOT_ALLOWED
          - PORT_BILLING_TERM_CHANGE_NOT_ALLOWED
          - PORT_SPEED_CHANGE_NOT_ALLOWED
          - CONNECTION_BILLING_TERM_CHANGE_NOT_ALLOWED
          - CONNECTION_SPEED_CHANGE_NOT_ALLOWED
          - CONNECTION_SPEED_GREATER_THAN_PORT_SPEED
          - MISSING_REQUIRED_QUERY_PARAMETER
          - INVALID_REQUIRED_QUERY_PARAMETER
          - INVALID_PEERING_STATE_FOR_OPERATION
          - INVALID_PEERING_TYPE_FOR_OPERATION
          - INVALID_PEERING_PNAT_CONFIGURATION
          - INVALID_NAT_NO_MORE_AVAILABLE_BLOCKS
          - INVALID_NAT_CIDR_ALLOCATION
          - INVALID_NAT_OVERLAPPING_NAT_CIDRS
          - INVALID_BILLING_CONFIGURATION
          - INTERNAL_SERVER_ERROR
          - JSON_GENERATION_ERROR
          - NETWORK_PROVISIONING_ERROR
[...]
