---
swagger: "2.0"
info:
  description: "Pureport API"
  version: "1.0.0"
  title: "Pureport Control Plane"
host: "api.pureport.com"
basePath: "/"
tags:
- name: "cloud services"
- name: "options"
- name: "accounts"
- name: "account members"
- name: "apikeys"
- name: "billing"
- name: "account consent"
- name: "account roles"
- name: "connections"
- name: "account invitations"
- name: "networks"
- name: "supported connections"
- name: "cloud regions"
- name: "locations"
- name: "users"
schemes:
- "http"
paths:
  /accounts:
    get:
      tags:
      - "accounts"
      summary: "List accounts"
      description: ""
      operationId: "findAllAccounts"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Name"
        x-optionalDataType: "String"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Account"
    post:
      tags:
      - "accounts"
      summary: "Add new account"
      description: ""
      operationId: "createAccount"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/Account"
        x-exportParamName: "Body"
      responses:
        default:
          description: "successful operation"
  /accounts/{accountId}:
    get:
      tags:
      - "accounts"
      summary: "Get account details"
      description: ""
      operationId: "getAccount"
      produces:
      - "application/json"
      parameters:
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Account"
    put:
      tags:
      - "accounts"
      summary: "Update account"
      description: ""
      operationId: "updateAccount"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/Account"
        x-exportParamName: "Body"
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Account"
    delete:
      tags:
      - "accounts"
      summary: "Delete account"
      description: ""
      operationId: "deleteAccount"
      produces:
      - "application/json"
      parameters:
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        default:
          description: "successful operation"
  /accounts/{accountId}/apikeys:
    get:
      tags:
      - "apikeys"
      summary: "List API keys for an account"
      description: ""
      operationId: "findApiKeys"
      produces:
      - "application/json"
      parameters:
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ApiKey"
    post:
      tags:
      - "apikeys"
      summary: "Create a new API key"
      description: ""
      operationId: "createApiKey"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/ApiKey"
        x-exportParamName: "Body"
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        default:
          description: "successful operation"
  /accounts/{accountId}/apikeys/{key}:
    get:
      tags:
      - "apikeys"
      summary: "Get API Key details"
      description: ""
      operationId: "getApiKey"
      produces:
      - "application/json"
      parameters:
      - name: "key"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Key"
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ApiKey"
    put:
      tags:
      - "apikeys"
      summary: "Update API Key"
      description: ""
      operationId: "updateApiKey"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/ApiKey"
        x-exportParamName: "Body"
      - name: "key"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Key"
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ApiKey"
    delete:
      tags:
      - "apikeys"
      summary: "Delete API Key"
      description: ""
      operationId: "deleteApiKey"
      produces:
      - "application/json"
      parameters:
      - name: "key"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Key"
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        default:
          description: "successful operation"
  /accounts/{accountId}/billing:
    get:
      tags:
      - "billing"
      summary: "Payment method for account"
      description: ""
      operationId: "findBillingForAccount"
      produces:
      - "application/json"
      parameters:
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        default:
          description: "successful operation"
    post:
      tags:
      - "billing"
      summary: "Add payment method"
      description: ""
      operationId: "addPaymentInformation"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/AccountBilling"
        x-exportParamName: "Body"
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        default:
          description: "successful operation"
    put:
      tags:
      - "billing"
      summary: "Update payment method"
      description: ""
      operationId: "updatePaymentInformation"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/AccountBilling"
        x-exportParamName: "Body"
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        default:
          description: "successful operation"
    delete:
      tags:
      - "billing"
      summary: "Delete payment method"
      description: ""
      operationId: "deletePaymentInformation"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        default:
          description: "successful operation"
  /accounts/{accountId}/billing/configured:
    get:
      tags:
      - "billing"
      summary: "Payment method configured for account"
      description: ""
      operationId: "isBillingConfiguredForAccount"
      produces:
      - "application/json"
      parameters:
      - name: "ancestorOnly"
        in: "query"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "AncestorOnly"
        x-optionalDataType: "Bool"
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "boolean"
  /accounts/{accountId}/connections:
    get:
      tags:
      - "connections"
      summary: "List connections across all networks for the account"
      description: ""
      operationId: "findConnections"
      produces:
      - "application/json"
      parameters:
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Connection"
  /accounts/{accountId}/consent:
    get:
      tags:
      - "account consent"
      summary: "Account consent to Master Service Agreement and Acceptable Use Policy"
      description: ""
      operationId: "hasConsent"
      produces:
      - "application/json"
      parameters:
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/AccountConsent"
        404:
          description: "Account MSA and AUP have not been accepted"
    post:
      tags:
      - "account consent"
      summary: "Consent to Master Service Agreement and Acceptable Use Policy for\
        \ this account"
      description: ""
      operationId: "consent"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        default:
          description: "successful operation"
  /accounts/{accountId}/invites:
    get:
      tags:
      - "account invitations"
      summary: "List account invites"
      description: ""
      operationId: "findAccountInvites"
      produces:
      - "application/json"
      parameters:
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AccountInvite"
    post:
      tags:
      - "account invitations"
      summary: "Invite account member"
      description: ""
      operationId: "inviteAccount"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/AccountInvite"
        x-exportParamName: "Body"
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        default:
          description: "successful operation"
  /accounts/{accountId}/invites/{inviteId}:
    get:
      tags:
      - "account invitations"
      summary: "Get account invite"
      description: ""
      operationId: "getAccountInvite"
      produces:
      - "application/json"
      parameters:
      - name: "inviteId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "InviteId"
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/AccountInvite"
    put:
      tags:
      - "account invitations"
      summary: "Update account invite"
      description: ""
      operationId: "updateAccountInvite"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "reinvite"
        in: "query"
        required: false
        type: "boolean"
        x-exportParamName: "Reinvite"
        x-optionalDataType: "Bool"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/AccountInvite"
        x-exportParamName: "Body"
      - name: "inviteId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "InviteId"
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/AccountInvite"
    delete:
      tags:
      - "account invitations"
      summary: "Delete account invite"
      description: ""
      operationId: "deleteAccountInvite"
      produces:
      - "application/json"
      parameters:
      - name: "inviteId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "InviteId"
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        default:
          description: "successful operation"
  /accounts/{accountId}/members:
    get:
      tags:
      - "account members"
      summary: "List account members"
      description: ""
      operationId: "findAccountMembers"
      produces:
      - "application/json"
      parameters:
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AccountMember"
    post:
      tags:
      - "account members"
      summary: "Add account member"
      description: ""
      operationId: "addAccountMember"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/AccountMember"
        x-exportParamName: "Body"
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        default:
          description: "successful operation"
  /accounts/{accountId}/members/{userId}:
    get:
      tags:
      - "account members"
      summary: "Get account member"
      description: ""
      operationId: "getAccountMember"
      produces:
      - "application/json"
      parameters:
      - name: "userId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "UserId"
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/AccountMember"
    put:
      tags:
      - "account members"
      summary: "Update account member"
      description: ""
      operationId: "updateAccountMember"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/AccountMember"
        x-exportParamName: "Body"
      - name: "userId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "UserId"
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/AccountMember"
    delete:
      tags:
      - "account members"
      summary: "Delete account member"
      description: ""
      operationId: "deleteAccountMember"
      produces:
      - "application/json"
      parameters:
      - name: "userId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "UserId"
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        default:
          description: "successful operation"
  /accounts/{accountId}/networks:
    get:
      tags:
      - "networks"
      summary: "List networks"
      description: ""
      operationId: "findNetworks"
      produces:
      - "application/json"
      parameters:
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Network"
    post:
      tags:
      - "networks"
      summary: "Add new network"
      description: ""
      operationId: "addNetwork"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/Network"
        x-exportParamName: "Body"
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        default:
          description: "successful operation"
  /accounts/{accountId}/permissions:
    get:
      tags:
      - "accounts"
      summary: "Get permissions for account"
      description: "Returns the effective set of permissions that the current subject\
        \ has for the given account\n            based on the roles they have been\
        \ granted."
      operationId: "getAccountPermissions"
      produces:
      - "application/json"
      parameters:
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "object"
            additionalProperties:
              type: "object"
              additionalProperties:
                type: "boolean"
  /accounts/{accountId}/roles:
    get:
      tags:
      - "account roles"
      summary: "List account roles"
      description: ""
      operationId: "findAllRoles"
      produces:
      - "application/json"
      parameters:
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Role"
    post:
      tags:
      - "account roles"
      summary: "Add account role"
      description: ""
      operationId: "createRole"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/Role"
        x-exportParamName: "Body"
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        default:
          description: "successful operation"
  /accounts/{accountId}/roles/{roleId}:
    get:
      tags:
      - "account roles"
      summary: "Get role details"
      description: ""
      operationId: "getRole"
      produces:
      - "application/json"
      parameters:
      - name: "roleId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "RoleId"
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Role"
    put:
      tags:
      - "account roles"
      summary: "Update role"
      description: ""
      operationId: "updateRole"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/Role"
        x-exportParamName: "Body"
      - name: "roleId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "RoleId"
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Role"
    delete:
      tags:
      - "account roles"
      summary: "Delete role"
      description: ""
      operationId: "deleteRole"
      produces:
      - "application/json"
      parameters:
      - name: "roleId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "RoleId"
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        default:
          description: "successful operation"
  /accounts/{accountId}/supportedConnections:
    get:
      tags:
      - "supported connections"
      summary: "List supported connections"
      description: ""
      operationId: "getSupportedConnections"
      produces:
      - "application/json"
      parameters:
      - name: "accountId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/SupportedConnection"
  /cloudRegions:
    get:
      tags:
      - "cloud regions"
      summary: "List cloud regions"
      description: ""
      operationId: "getCloudRegions"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/CloudRegion"
  /cloudRegions/{cloudRegionId}:
    get:
      tags:
      - "cloud regions"
      summary: "Get cloud region details"
      description: ""
      operationId: "getCloudRegion"
      produces:
      - "application/json"
      parameters:
      - name: "cloudRegionId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "CloudRegionId"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/CloudRegion"
  /cloudServices:
    get:
      tags:
      - "cloud services"
      summary: "List cloud services"
      description: ""
      operationId: "getCloudServices"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/CloudService"
  /cloudServices/{cloudServiceId}:
    get:
      tags:
      - "cloud services"
      summary: "Get cloud service details"
      description: ""
      operationId: "getCloudService"
      produces:
      - "application/json"
      parameters:
      - name: "cloudServiceId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "CloudServiceId"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/CloudService"
  /connections/{connectionId}:
    get:
      tags:
      - "connections"
      summary: "Get connection details"
      description: ""
      operationId: "getConnection"
      produces:
      - "application/json"
      parameters:
      - name: "connectionId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ConnectionId"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Connection"
    put:
      tags:
      - "connections"
      summary: "Update connection"
      description: ""
      operationId: "updateConnection"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/Connection"
        x-exportParamName: "Body"
      - name: "connectionId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ConnectionId"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Connection"
    delete:
      tags:
      - "connections"
      summary: "Delete connection"
      description: ""
      operationId: "deleteConnection"
      produces:
      - "application/json"
      parameters:
      - name: "connectionId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ConnectionId"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Connection"
  /invites:
    post:
      tags:
      - "account invitations"
      summary: "Accept all invites for the current user"
      description: ""
      operationId: "acceptAllInvites"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AccountInvite"
  /locations:
    get:
      tags:
      - "locations"
      summary: "List locations"
      description: ""
      operationId: "findLocations"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Location"
  /locations/{locationId}:
    get:
      tags:
      - "locations"
      summary: "Get location details"
      description: ""
      operationId: "getLocation"
      produces:
      - "application/json"
      parameters:
      - name: "locationId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "LocationId"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Location"
  /login:
    post:
      tags:
      - "apikeys"
      summary: "Login with an API Key"
      description: ""
      operationId: "login"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/LoginRequest"
        x-exportParamName: "Body"
      responses:
        default:
          description: "successful operation"
  /networks/{networkId}:
    get:
      tags:
      - "networks"
      summary: "Get network details"
      description: ""
      operationId: "getNetwork"
      produces:
      - "application/json"
      parameters:
      - name: "networkId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "NetworkId"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Network"
    put:
      tags:
      - "networks"
      summary: "Update network"
      description: ""
      operationId: "updateNetwork"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/Network"
        x-exportParamName: "Body"
      - name: "networkId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "NetworkId"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Network"
    delete:
      tags:
      - "networks"
      summary: "Delete network"
      description: ""
      operationId: "deleteNetwork"
      produces:
      - "application/json"
      parameters:
      - name: "networkId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "NetworkId"
      responses:
        default:
          description: "successful operation"
  /networks/{networkId}/connections:
    get:
      tags:
      - "connections"
      - "networks"
      summary: "List network connections"
      description: ""
      operationId: "getConnections"
      produces:
      - "application/json"
      parameters:
      - name: "networkId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "NetworkId"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Connection"
    post:
      tags:
      - "connections"
      - "networks"
      summary: "Add new connection"
      description: ""
      operationId: "addConnection"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/Connection"
        x-exportParamName: "Body"
      - name: "networkId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "NetworkId"
      responses:
        default:
          description: "successful operation"
  /options:
    get:
      tags:
      - "options"
      summary: "Get available options"
      description: ""
      operationId: "getOptions"
      produces:
      - "application/json"
      parameters:
      - name: "type"
        in: "query"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Type_"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "object"
            additionalProperties:
              type: "array"
              items:
                $ref: "#/definitions/Option"
  /supportedConnections/{supportedConnectionId}:
    get:
      tags:
      - "supported connections"
      summary: "Get supported connection details"
      description: ""
      operationId: "getSupportedConnection"
      produces:
      - "application/json"
      parameters:
      - name: "supportedConnectionId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "SupportedConnectionId"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/SupportedConnection"
  /users/{userId}:
    get:
      tags:
      - "users"
      summary: "Get user details"
      description: ""
      operationId: "getUser"
      produces:
      - "application/json"
      parameters:
      - name: "userId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "UserId"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/User"
    put:
      tags:
      - "users"
      summary: "Update user"
      description: ""
      operationId: "updateUser"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/User"
        x-exportParamName: "Body"
      - name: "userId"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "UserId"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/User"
definitions:
  AWSDirectConnectConnection:
    allOf:
    - $ref: "#/definitions/Connection"
    - type: "object"
      required:
      - "awsAccountId"
      - "awsRegion"
      properties:
        awsAccountId:
          type: "string"
          pattern: "^\\d{12}$"
        awsRegion:
          type: "string"
          minLength: 1
          maxLength: 64
        cloudServices:
          type: "array"
          uniqueItems: true
          items:
            $ref: "#/definitions/Link"
        peering:
          readOnly: true
          $ref: "#/definitions/PeeringConfiguration"
  Account:
    type: "object"
    required:
    - "name"
    properties:
      description:
        type: "string"
        minLength: 0
        maxLength: 256
      href:
        type: "string"
      id:
        type: "string"
        minLength: 1
        maxLength: 64
      name:
        type: "string"
        minLength: 1
        maxLength: 64
      parent:
        $ref: "#/definitions/Link"
      supportedConnectionGroups:
        type: "array"
        uniqueItems: true
        items:
          $ref: "#/definitions/Link"
    example:
      parent:
        href: "href"
        id: "id"
        title: "title"
      name: "name"
      description: "description"
      href: "href"
      id: "id"
      supportedConnectionGroups:
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
  AccountBilling:
    type: "object"
    required:
    - "address"
    - "email"
    - "stripeExpiry"
    - "stripeLastFour"
    - "stripeToken"
    properties:
      account:
        $ref: "#/definitions/Link"
      address:
        $ref: "#/definitions/PhysicalAddress"
      email:
        type: "string"
      href:
        type: "string"
      stripeExpiry:
        type: "string"
        pattern: "^\\d{2}\\/\\d{4}$"
      stripeLastFour:
        type: "string"
        pattern: "^\\d{4}$"
      stripeToken:
        type: "string"
        minLength: 1
        maxLength: 64
    example:
      address:
        country: "country"
        city: "city"
        street: "street"
        postalCode: "postalCode"
        placeId: "placeId"
        geoCoordinates:
          latitude: 0.80082819046101150206595775671303272247314453125
          longitude: 6.02745618307040320615897144307382404804229736328125
        state: "state"
      stripeToken: "stripeToken"
      href: "href"
      stripeExpiry: "stripeExpiry"
      stripeLastFour: "stripeLastFour"
      account:
        href: "href"
        id: "id"
        title: "title"
      email: "email"
  AccountConsent:
    type: "object"
    properties:
      consentAt:
        type: "string"
        format: "date-time"
      href:
        type: "string"
      userId:
        type: "string"
    example:
      consentAt: "2000-01-23T04:56:07.000+00:00"
      href: "href"
      userId: "userId"
  AccountInvite:
    type: "object"
    required:
    - "account"
    - "email"
    - "roles"
    properties:
      account:
        $ref: "#/definitions/Link"
      email:
        type: "string"
      expired:
        type: "boolean"
      href:
        type: "string"
      id:
        type: "string"
        minLength: 1
        maxLength: 64
      invitedAt:
        type: "string"
        format: "date-time"
      invitedBy:
        $ref: "#/definitions/Link"
      roles:
        type: "array"
        items:
          $ref: "#/definitions/Link"
    example:
      expired: true
      invitedBy:
        href: "href"
        id: "id"
        title: "title"
      roles:
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      href: "href"
      id: "id"
      account:
        href: "href"
        id: "id"
        title: "title"
      email: "email"
      invitedAt: "2000-01-23T04:56:07.000+00:00"
  AccountMember:
    type: "object"
    required:
    - "account"
    - "roles"
    - "user"
    properties:
      account:
        $ref: "#/definitions/Link"
      href:
        type: "string"
      roles:
        type: "array"
        items:
          $ref: "#/definitions/Link"
      user:
        $ref: "#/definitions/Link"
    example:
      roles:
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      href: "href"
      user:
        href: "href"
        id: "id"
        title: "title"
      account:
        href: "href"
        id: "id"
        title: "title"
  ApiKey:
    type: "object"
    properties:
      account:
        $ref: "#/definitions/Link"
      description:
        type: "string"
        minLength: 0
        maxLength: 1024
      href:
        type: "string"
      key:
        type: "string"
      name:
        type: "string"
        minLength: 1
        maxLength: 255
      roles:
        type: "array"
        uniqueItems: true
        items:
          $ref: "#/definitions/Link"
        maxItems: 100
        minItems: 1
      secret:
        type: "string"
    example:
      roles:
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      - href: "href"
        id: "id"
        title: "title"
      name: "name"
      description: "description"
      href: "href"
      secret: "secret"
      account:
        href: "href"
        id: "id"
        title: "title"
      key: "key"
  AzureExpressRouteConnection:
    allOf:
    - $ref: "#/definitions/Connection"
    - type: "object"
      required:
      - "serviceKey"
      properties:
        peering:
          readOnly: true
          $ref: "#/definitions/PeeringConfiguration"
        serviceKey:
          type: "string"
          minLength: 1
          maxLength: 64
  BGPConfig:
    type: "object"
    properties:
      customerASN:
        type: "integer"
        format: "int64"
        readOnly: true
      customerIP:
        type: "string"
        readOnly: true
      password:
        type: "string"
        readOnly: true
      peeringSubnet:
        type: "string"
        readOnly: true
      pureportASN:
        type: "integer"
        format: "int64"
        readOnly: true
      pureportIP:
        type: "string"
        readOnly: true
      state:
        type: "string"
        readOnly: true
        enum:
        - "UP"
        - "DOWN"
        - "PENDING"
    example:
      peeringSubnet: "peeringSubnet"
      password: "password"
      customerIP: "customerIP"
      pureportIP: "pureportIP"
      state: "UP"
      pureportASN: 5
      customerASN: 1
  BillingPlan:
    type: "object"
    properties:
      amount:
        type: "integer"
        format: "int64"
      billingInterval:
        type: "string"
        enum:
        - "DAY"
        - "WEEK"
        - "MONTH"
        - "YEAR"
      id:
        type: "string"
      term:
        type: "string"
        enum:
        - "HOURLY"
    example:
      amount: 0
      term: "HOURLY"
      id: "id"
      billingInterval: "DAY"
  CloudRegion:
    type: "object"
    required:
    - "displayName"
    - "provider"
    - "providerAssignedId"
    properties:
      displayName:
        type: "string"
      href:
        type: "string"
      id:
        type: "string"
        minLength: 1
        maxLength: 64
      provider:
        type: "string"
        enum:
        - "AWS"
        - "AZURE"
        - "GOOGLE_CLOUD"
      providerAssignedId:
        type: "string"
    example:
      provider: "AWS"
      displayName: "displayName"
      href: "href"
      id: "id"
      providerAssignedId: "providerAssignedId"
  CloudService:
    type: "object"
    required:
    - "deactivated"
    - "name"
    - "provider"
    - "service"
    properties:
      cloudRegion:
        $ref: "#/definitions/Link"
      deactivated:
        type: "boolean"
        readOnly: true
      deactivatedAt:
        type: "string"
        format: "date-time"
        readOnly: true
      href:
        type: "string"
      id:
        type: "string"
        minLength: 1
        maxLength: 64
      ipv4PrefixCount:
        type: "integer"
        format: "int32"
        readOnly: true
        minimum: 0
      ipv6PrefixCount:
        type: "integer"
        format: "int32"
        readOnly: true
        minimum: 0
      name:
        type: "string"
      provider:
        type: "string"
        enum:
        - "AWS"
        - "AZURE"
        - "GOOGLE_CLOUD"
      service:
        type: "string"
    example:
      ipv4PrefixCount: 0
      provider: "AWS"
      ipv6PrefixCount: 0
      service: "service"
      cloudRegion:
        href: "href"
        id: "id"
        title: "title"
      name: "name"
      deactivatedAt: "2000-01-23T04:56:07.000+00:00"
      href: "href"
      id: "id"
      deactivated: true
  Connection:
    type: "object"
    required:
    - "billingTerm"
    - "location"
    - "name"
    - "speed"
    - "type"
    discriminator: "type"
    properties:
      activeAt:
        type: "string"
        format: "date-time"
        readOnly: true
      billingPlan:
        readOnly: true
        $ref: "#/definitions/BillingPlan"
      billingTerm:
        type: "string"
        enum:
        - "HOURLY"
      createdAt:
        type: "string"
        format: "date-time"
        readOnly: true
      customerASN:
        type: "integer"
        format: "int64"
        readOnly: true
      customerNetworks:
        type: "array"
        uniqueItems: true
        items:
          $ref: "#/definitions/CustomerNetwork"
      deletedAt:
        type: "string"
        format: "date-time"
        readOnly: true
      description:
        type: "string"
        minLength: 0
        maxLength: 1024
      errorCode:
        type: "string"
        readOnly: true
        enum:
        - "BAD_REQUEST"
        - "RESOURCE_LIMITATION_EXCEEDED"
        - "JSON_PROCESSING_ERROR"
        - "UNAUTHORIZED"
        - "ACCESS_TOKEN_GENERAL"
        - "ACCESS_TOKEN_MISSING"
        - "ACCESS_TOKEN_EXPIRED"
        - "ACCESS_TOKEN_ALGORITHM_MISMATCH"
        - "ACCESS_TOKEN_INVALID_SIGNATURE"
        - "ACCESS_TOKEN_DECODE_ERROR"
        - "API_KEY_NOT_FOUND"
        - "PAYMENT_REQUIRED"
        - "FORBIDDEN"
        - "NOT_FOUND"
        - "METHOD_NOT_ALLOWED"
        - "REQUEST_TIMEOUT"
        - "CONFLICT"
        - "AWS_CONNECTION_HAS_ACTIVE_VIFS"
        - "EXPRESS_ROUTE_SERVICE_KEY_ALREADY_IN_USE"
        - "ADMIN_ACCESS_MUST_EXIST"
        - "CONNECTION_UPDATE_STATE_CONFLICT"
        - "CONNECTION_DELETE_STATE_CONFLICT"
        - "NETWORK_DELETE_NON_DELETED_CONNECTION_STATE_CONFLICT"
        - "CONSENT_REQUIRED"
        - "ACCOUNT_ALREADY_CONSENTED"
        - "ACCOUNT_MEMBER_ALREADY_EXISTS"
        - "ACCOUNT_HAS_CHILD_ACCOUNTS"
        - "REQUEST_ENTITY_TOO_LARGE"
        - "REQUEST_URI_TOO_LONG"
        - "UNSUPPORTED_MEDIA_TYPE"
        - "UNPROCESSABLE_ENTITY"
        - "VALIDATION_ERROR"
        - "INVALID_LINK"
        - "INVALID_EXPRESS_ROUTE_SERVICE_KEY"
        - "INVALID_GOOGLE_PAIRING_KEY"
        - "EXPRESS_ROUTE_SERVICE_KEY_BANDWIDTH_MISMATCH"
        - "MISSING_GCI_CLOUD_ROUTER_IP_ADDRESS"
        - "NO_SUPPORTED_CONNECTION_FOR_CONNECTION"
        - "UNSUPPORTED_RESOURCE_LIMIT"
        - "MODIFICATION_NOT_ALLOWED"
        - "AWS_CONNECTION_SPEED_IMMUTABLE"
        - "INVALID_VLAN"
        - "INVALID_VLAN_RANGE"
        - "INVALID_CUSTOMER_ASN"
        - "INVALID_NAT_OVERLAPPING_NATIVE_CIDRS"
        - "INVALID_PUBLIC_PEERING_OVERLAPPING_BLOCK"
        - "CANT_REMOVE_PUBLIC_PEERING_ALLOCATED_BLOCKS"
        - "PEERING_TYPE_CHANGE_NOT_ALLOWED"
        - "INVALID_NAT_NO_MORE_AVAILABLE_BLOCKS"
        - "INVALID_NAT_CIDR_ALLOCATION"
        - "INVALID_NAT_OVERLAPPING_NAT_CIDRS"
        - "INVALID_STRIPE_CONFIGURATION"
        - "INTERNAL_SERVER_ERROR"
        - "JSON_GENERATION_ERROR"
        - "CONNECTION_PROVISIONING_ERROR"
        - "CONNECTION_UPDATE_SPEED_ERROR"
        - "CONNECTION_DELETING_ERROR"
        - "CONNECTION_UPDATING_ERROR"
        - "GATEWAY_PROVISIONING_ERROR"
        - "GATEWAY_UPDATE_SPEED_ERROR"
        - "GATEWAY_UPDATING_ERROR"
        - "GATEWAY_DELETING_ERROR"
        - "AWS_CONNECTION_DELETE_ERROR"
        - "GOOGLE_INTERCONNECT_ATTACHMENT_DELETE_ERROR"
        - "ECX_CONNECTION_DELETE_ERROR"
        - "GOOGLE_OPERATION_TIMEOUT"
        - "NOT_IMPLEMENTED"
        - "SERVICE_UNAVAILABLE"
        - "EXPRESS_ROUTE_SERVICE_UNAVAILABLE"
        - "INSUFFICIENT_CAPACITY"
        - "NO_MORE_PUBLIC_PEERING_SUBNETS_AVAILABLE"
      errorMessage:
        type: "string"
        readOnly: true
      highAvailability:
        type: "boolean"
      href:
        type: "string"
        readOnly: true
      id:
        type: "string"
        minLength: 1
        maxLength: 64
      location:
        readOnly: true
        $ref: "#/definitions/Link"
      name:
        type: "string"
        minLength: 1
        maxLength: 64
      nat:
        readOnly: true
        $ref: "#/definitions/NATConfig"
      network:
        readOnly: true
        $ref: "#/definitions/Link"
      primaryGateway:
        readOnly: true
        $ref: "#/definitions/Gateway"
      secondaryGateway:
        readOnly: true
        $ref: "#/definitions/Gateway"
      speed:
        type: "integer"
        format: "int32"
        enum:
        - 50
        - 100
        - 200
        - 300
        - 400
        - 500
        - 1000
        - 10000
      state:
        type: "string"
        readOnly: true
        enum:
        - "INITIALIZING"
        - "WAITING_TO_PROVISION"
        - "PROVISIONING"
        - "FAILED_TO_PROVISION"
        - "ACTIVE"
        - "DOWN"
        - "UPDATING"
        - "FAILED_TO_UPDATE"
        - "DELETING"
        - "FAILED_TO_DELETE"
        - "DELETED"
      type:
        type: "string"
        enum:
        - "AWS_DIRECT_CONNECT"
        - "AZURE_EXPRESS_ROUTE"
        - "GOOGLE_CLOUD_INTERCONNECT"
        - "SITE_IPSEC_VPN"
        - "DUMMY"
    example:
      nat:
        mappings:
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
          block: "block"
        - natCidr: "natCidr"
          nativeCidr: "nativeCidr"
[...]
